<div class="cart-container">
    <h2>Shopping Cart</h2>
    
    <div *ngIf="cart.length > 0" class="cart-section">
      <h2>Your Cart</h2>
      <ul>
        <li *ngFor="let item of cart">
          <strong>{{ item.title }}</strong> - 
          Quantity: {{ item.stock }} - 
          Price per item: {{ item.price.current }} {{ item.price.currency }} -
          <strong>Total: {{ item.price.current * item.stock }} {{ item.price.currency }}</strong>
        </li>
      </ul>
      
      <button class="checkout-btn" (click)="checkout()">Checkout</button>
    </div>
  
    <div *ngIf="cart.length === 0">
      <p>Your cart is empty.</p>
    </div>
  </div>
  